*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 5px;
    font-family: "lato", Arial, sans-serif ;
}
section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #05571a, #8fa9aa, #ff0b0b, #000000);
    background-size: 400% 400%;
    position: relative;
    animation: change 5s ease-in-out infinite;
}
h1{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
}
p{
    font-size: 4rem;
    letter-spacing: 2px;
    position: fixed;
    top: 20%;
    transform: translateX(-50% -50%);
    padding: 5rem 10rem;
}
b{
    position: fixed;
    top: 60%;
    left: 10%;
    transform: translateX(-50% -50%);}
c{
    position: fixed;
    top: 60%;
    left: 30%;
    transform: translateX(-50% -50%);}
d{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50% -50%);}
e{
    position: fixed;
    top: 60%;
    left: 70%;
    transform: translateX(-50% -50%);}
@keyframes change {
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
          
    }
